<h3>New Post</h3>

<form [formGroup]="createForm" (ngSubmit)="obSubmit(createForm.value)">

  <mat-form-field class="full-width">
    <mat-label>Title</mat-label>
    <textarea matInput formControlName="title" placeholder="Title"></textarea>
  </mat-form-field>
  <br>
  <mat-form-field class="full-width">
    <mat-label>Body</mat-label>
    <textarea matInput formControlName="body" placeholder="Body"></textarea>
  </mat-form-field>

  <button mat-raised-button color="primary" type="submit">Create</button>
</form>