<h3>Login</h3>

<form [formGroup]="loginForm" 
    (ngSubmit)="onSubmit(loginForm.value)">

    <mat-form-field class="full-width">
        <mat-label>Username</mat-label>
        <textarea matInput formControlName="username" placeholder="Username"></textarea>
      </mat-form-field>
      <br>
      <mat-form-field class="full-width">
        <mat-label>Password</mat-label>
        <textarea matInput formControlName="password" placeholder="Password"></textarea>
      </mat-form-field>
      <br>
    <button mat-flat-button color="primary" type="submit">Login</button>
  
</form>