<mat-toolbar>
    <button mat-flat-button [routerLink]="['home']">
        Discussion Board
    </button>

    <button mat-flat-button [routerLink]="['posts/1']">
        Posts
    </button>
    
    <div *ngIf="signedIn; else elseBlock">
        <button mat-flat-button (click)="onProfileClick()">
            Profile
        </button>
    </div>
    <ng-template #elseBlock>
        <button mat-flat-button [routerLink]="['login']">
            Login
        </button>
    </ng-template>


    <span class="example-spacer"></span>

    <form [formGroup]="searchForm" 
    (ngSubmit)="onSearch(searchForm.value)">

    <div>
        <input id="term" type="text" formControlName="term">
      </div>

    <button mat-flat-button class="button" type="submit">Search</button>
  
</form>

</mat-toolbar>