<h3>Register</h3>

<form [formGroup]="registerForm" 
    (ngSubmit)="onSubmit(registerForm.value)">

    <mat-form-field class="full-width">
        <mat-label>Username</mat-label>
        <textarea matInput formControlName="username" placeholder="Username"></textarea>
      </mat-form-field>
      <br>
      <mat-form-field class="full-width">
        <mat-label>Password</mat-label>
        <textarea matInput formControlName="password" placeholder="Password"></textarea>
      </mat-form-field>
      <br>
      <mat-form-field class="full-width">
          <mat-label>Confirm Password</mat-label>
          <textarea matInput formControlName="password2" placeholder="Confirm Password"></textarea>
        </mat-form-field>
        <br>
    <button mat-flat-button color="primary" type="submit">Register</button>
</form>